/* 
<div class="global" id="piedpage">
        <footer>
    <!-- ////////////////////////////////////////////////// première ligne-->
           <div class="footer__conteneur">
            <section class="footer__adresse">
                <h4>Adresse</h4>
                <ul>
                    <li><a href="https://www.cmaisonneuve.qc.ca/">"lien de"</a>College maisonneuve</li>
                    <li>Sherbrook</li>
                    <li>Montréal, Qc</li>
                    <li>H1X 2A2</li>
                </ul>
            </section>
            <section class="footer__lien">Lien
                <h4>Liens :</h4>
                <li><a href="#">css-trick.com</a></li>
            </section>
            <section class="footer__texte">Texte</section>
           </div>
    <!-- ////////////////////////////////////////////////// ligne2 -->
           <div class="footer__conteneur__2">
            <section class="image">Image
                <figure>
                    <img src="https://s2.svgbox.net/illlustrations.svg?ic=apple-watch&color=000000" width="32" height="32">
                    <img src="https://s2.svgbox.net/illlustrations.svg?ic=ram&color=000000" width="32" height="32">
                </figure>
            </section>
                <section class="footer__lien">Lien</section>
           </div>
    <!-- ////////////////////////////////////////////////// ligne3 -->
           <div class="footer__conteneur__3"></div>
        <section class="icone">Icone
            <figure>
                <img src="https://s2.svgbox.net/social.svg?ic=github&color=000" width="32" height="32">
                <img src="https://s2.svgbox.net/social.svg?ic=instagram&color=000" width="32" height="32">
                <img src="https://s2.svgbox.net/social.svg?ic=youtube&color=000" width="32" height="32">
            </figure>

        </section>
            
        </footer>
        */
#piedpage {
    min-height: 32vh;
   
}
#piedpage  > footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

#piedpage  > footer > div {
    display: flex;
    justify-content: center;
   
}
#piedpage  > footer > div > section {
    padding: 5px;
    border: solid 2px #ff0000;
    border-radius: 10px;
}
li {
    list-style: none;
}
.footer__conteneur  {
    /* text-decoration: none; */
    color: #fff;
}
.footer__conteneur a {
    margin-left: 15px;
    color:rgb(0, 128, 247);
    font-size: clamp(0.625rem, 0.1042rem + 1.6667vw, 1.25rem);
}
.footer__conteneur li,
.footer__conteneur p {
    margin-left: 12px;
    font-size: clamp(0.625rem, 0.1042rem + 1.6667vw, 1.25rem);
}
.footer__conteneur h4 {
    padding: 4px;
    font-size: clamp(0.75rem, 0.125rem + 2vw, 1.5rem);}

.footer__conteneur__3 {
    justify-content: center;
}
.footer__conteneur__3 > figure > img {
    margin-left: 25px;
}