/*  ----------------------------------------------------------------initialisation */
*{
    margin:0;
    padding:0;
}
html {
    box-sizing: border-box;
     }
    *,
    *:before,
    *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
/* Navigation principale */
/* les conteneurs div autour de chaque sélection */
.global {
    display: flex;
    justify-content: center;
   /*  align-items: center; */
    min-width: 100%;
    min-height: 100vh;
}
.global section,
.global header,
.global footer {
    display: flex;
    flex: 0 1 1000px;
    background-color: rgba(0,0,0,.1);
}

.global section, .global footer{
    flex-direction: column;
}
#entete {
    background-image: linear-gradient(90deg, #9d00ff, rgb(25, 0, 255)) ;
    min-height: 1vh;
    position: sticky;
    top: 0;
  
}
#entete header {
    justify-content: space-between;
    align-items: center;
    /*  Permet de définir le réferentiel pour le menu  */
    position: relative;
}
#accueil {
    background-color: rgb(75, 99, 255);
}
#inscription {
    background-color: rgb(173, 75, 253);
}
#tableau {
    background-color: rgb(247, 77, 162);
}
#articles {
    background-color: rgb(249, 87, 87);
}
#galerie {
    background-color: rgb(244, 153, 78);
}
#video {
    background-color: rgb(250, 235, 76);
}
#piedpage {
    background-color: rgb(117, 255, 72);
}


h1 {
    /* font size avec un Clamp chercher sur internet */
    font-size: clamp(16px, 4vw, 36px);
    color: #ffffff;
}
h2 {
    margin-top: 10vh;
    font-size: clamp(12px, 3vw, 26px);
    
}
h3 {
    font-size: clamp(9px, 3vw, 20px);
    color: #ffffff;
    margin: 15px;
    padding: 8px;
}